{% extends 'Property/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-xl-8">
            <div class="profile-setting-body">
                <form class="update-information" method="POST"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="user-img p-30 mb-30 bg-gray d-table w-100">
                            <li><img src="{{profile.profile.url}}" class="profile-img fa fa-camera"></li>
                            <li class="mt-15 ml-15">
                                <h5 class="inner-title color-secondary">Upload a New Photo</h5>
                                <input name="profile" class="form-control col-xl-6" type="file">
                            </li>
                        </ul>
                        <div class="bg-gray py-80 px-30 w-100">
                            <div class="row">
                                <div class="col-xl-12">
                                    <h4 class="inner-title color-secondary mb-30">Profile Information</h4>
                                </div>
                            </div>
                            {% include 'layout/message.html' %}
                            <div class="row">
                                <div class="form-group col-xl-6">
                                    <input class="form-control" type=" text" value="{{profile.name}}" name="name"
                                        placeholder="Name">
                                </div>
                                <div class="form-group col-xl-6">
                                    <input class="form-control" value="{{user.email}}" type="email" name="email"
                                        placeholder="Email" readonly>
                                </div>
                                <div class="form-check col-xl-6">
                                    <input class="form-check-input" type="radio" name="user_type"
                                        value="broker" {% if profile.user_type == "broker" %}checked{% endif %}>Broker<br>
                                    <input class="form-check-input" type="radio" name="user_type"
                                        value="user" {% if profile.user_type == "user" %}checked{% endif %}>User
                                </div>
                                <div class="form-group col-xl-6">
                                    <input class="form-control" type="text" name="mobile" value="{{profile.mobile}}"
                                        placeholder="Mobile number">
                                </div>
                                <div class="form-group col-xl-6">
                                    <textarea class="form-control" name="details" rows="4"
                                        placeholder="Write About Yourself">{{profile.details}}</textarea>
                                </div>
                                <button class="form-control btn btn-lg btn-info" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
</div>
</div>
</div>
{% endblock %}