{% include 'layout/header.html' %}
<!-- Start register Form
	====================================================-->
<section class="booking-form bg-gray">
    <div class="container my-50">
        <div class="row">
            <div class="col-lg-12">
                <div class="bg-white px-30 py-40 shadow w-75 mx-auto my-50">
                    <!-- alerts message -->

                    {% include 'layout/message.html' %}
                    <form action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <input type="text" name="first_name" class="form-control bg-gray" required />
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name</label>
                            <input type="text" name="last_name" class="form-control bg-gray" required />
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control bg-gray" required />
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control bg-gray" required />
                        </div>
                        <div class="form-group">
                            <label for="password2">Password</label>
                            <input type="password" name="password" class="form-control bg-gray" required />
                        </div>
                        <div class="form-group">
                            <label for="password">Confirm Password</label>
                            <input type="password" name="password2" class="form-control bg-gray" required />
                        </div>
                        <input type="submit" value="Register" class="btn btn-success btn-block" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End register Form ====================================================-->
{% include 'layout/footer.html' %}