{% extends 'Property/base.html' %}
{% block content %}
{% load static %}
<!-- Page Banner Start
==================================================================-->
<div class="page-banner overlay-black" style="padding: 150px 0">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="page-banner-title color-primary">About Us</h1>
                <div class="text-area w-50 mt-15 color-white">
                    <p>Porttitor luctus est sit lacinia non praesent aptent hymenaeos taciti tortor. Sociosq platea
                        porta facilisis vitae dictum bibendun tellus ante fusce vulputate dolor lorem vulputate hac
                        quisque diam etiam.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 py-15 px-0 bg-transparent hover-white-primary">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner End
==================================================================-->
<!-- About us Start
==================================================================-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7 col-xl-6 wow slideInLeft animated">
                <div class="side-title mb-30 pr-30">
                    <span class="small-title color-primary position-relative line-primary">Real Estate Market
                        Leader</span>
                    <h2 class="title mb-20 color-secondary">We're is this business since <span
                            class="color-primary">1981</span> and we provide the best real estate services</h2>
                </div>
                <p>Vestibulum suspendisse ridiculus. Hac duis cursus orci quis mus. Volutp sodale primis litora ad
                    consequat cras sapien quam Feugiat cubilia Sagittis lacus dignis Feugiat ultricie curabitur aliquet
                    sapien elementum scelerisque lacinia consectet odio ad sollicitudin lectus venenatis lacus.</p>
                <ul class="list-half icon-primary my-20 d-table">
                    <li><i class="fa fa-check"></i> High Quality Property</li>
                    <li><i class="fa fa-check"></i> 100% Satisfaction Guarantee</li>
                    <li><i class="fa fa-check"></i> Quality Control System</li>
                    <li><i class="fa fa-check"></i> unlimited real estate property</li>
                    <li><i class="fa fa-check"></i> Accurate dealing Processes</li>
                    <li><i class="fa fa-check"></i> Professional and Qualified</li>
                </ul>
                <p>Augue nisi nec primis molestie mollis quam convallis rhoncus taciti urna curabit arcu pulvinar Sed
                    feugiat nullam nonum element montes nec faucibus Rhoncus. Viverra curae torquent penatibus tempus
                    nullam dignissim.</p>
                <a class="btn btn-primary mt-30" href="#">Read More</a>
            </div>
            <div class="col-md-12 col-lg-5 col-xl-6 wow animated slideInRight">
                <div class="fact-counter achievement mb-50">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="counter count wow">
                                <div class="counter-point d-inline-block">
                                    <h2 class="count-num color-primary display-4" data-speed="3000" data-stop="1250">0
                                    </h2>
                                </div>
                                <h3 class="achievement-title color-secondary">Properties Listed</h3>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="counter count wow">
                                <div class="counter-point d-inline-block">
                                    <h2 class="count-num color-primary display-4" data-speed="3000" data-stop="583">0
                                    </h2>
                                </div>
                                <h3 class="achievement-title color-secondary">Properties Sold</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-relative">
                    <img src="{% static 'images/about/2.jpg' %}" alt="Image not found!">
                    <div class="bg-primary position-absolute color-white"
                        style="display: inline-block; width: 180px; height: auto; padding: 40px 20px; bottom: -35px; left: 50px;">
                        <h5 class="color-white">Search Bitter From Anyplace </h5>
                        <a class="btn-round mt-20" href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About us End
==================================================================-->
<!-- Experience Start
==================================================================-->
<section class="p-0 bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="row">
                    <div class="experience position-relative wow slideInUp animated" style="margin-top: 90px">
                        <img src="{% static 'images/others/20.jpg' %}" alt="Image not found!">
                        <div class="years text-center color-secondary">
                            <h2><span class="display-1 d-table mx-auto color-secondary">39</span> Years of Experience
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="row">
                    <div class="best-help py-80 bg-primary px-30 color-white wow slideInRight animated">
                        <h2 class="color-secondary mb-30">We Help You To Find The Best Property For The Future.</h2>
                        <p>Magnis molestie taciti platea laoreet aenean, gravida commodo. Ullamcorper senectus Pulvinar
                            Accumsan potenti dictumst. Nulla ante nostra augue lacus arcu morbi metusy nonummy rhoncus.
                            Duis dui placerat lectus feugiat.</p>
                        <p class="mt-15">Dictumst platea faucibus viverra luctus aliquam porttitor tortor massa interd
                            Consequ facilisi vestibulum. Vel sit dapibus magna amet. Pharetra pulvinar pede lectus
                            ornarey varius. Turpis suscipit faucibus nec facilisi. Quisque interdul sociosqu nullam
                            placerat elementum ad ultricies habitasse vel viverra urna class tellus. Natoque aptent
                            aliquam lacinia, penatibus facilisi rutrum mollis vel, sapien dui cras, adipiscing adipiscin
                            Curae volutpat netus gravida fames cras, ligula tellus. Enim cras mauris facilisis
                            scelerisque pharetra risus in rhoncus et duis ridiculus magnis et donec.</p>
                        <div style="width: 250px; height: auto;">
                            <img src="{% static 'images/others/signature.gif' %}" alt="Images not found!">
                            <span>Robert Louise - Founder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Experience End
==================================================================-->
<!-- Find the best Place Start
==================================================================-->
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title w-75 mx-auto d-table text-center mb-30 wow slideInDown animated">
                    <span class="small-title color-primary position-relative line-2-primary">What Are You Looking
                        For?</span>
                    <h2 class="title mb-20 color-secondary">Find the Best Places to you.</h2>
                    <span class="sub-title">Congue commodo ipsum, risus urna nisi. Primis velit turpis sollicitudin.
                        Felis aptent sagittis aliquet turpis et tristique montes vestibulum rutrum. Scelerisque viverra
                        ac ridiculus enim. Curabitur.</span>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="all-property mt-30">
                    <div class="row">
                        <div class="col-md-6 col-lg-2 wow slideInLeft animated">
                            <div
                                class="property-item-type-2 bg-white py-40 px-30 flat-medium icon-primary text-center shadow hover-secondery-primary">
                                <span class=""><i class="flaticon-house-2"></i></span>
                                <a class="mt-20 d-block" href="#">
                                    <h6>Apartment</h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 wow slideInDown animated">
                            <div class="property-item-type-2 bg-white py-40 px-30 flat-medium icon-primary text-center shadow hover-secondery-primary"
                                style="margin-top: 90px">
                                <span class=""><i class="flaticon-rental"></i></span>
                                <a class="mt-20 d-block" href="#">
                                    <h6>Building</h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 wow slideInUp animated">
                            <div class="property-item-type-2 bg-white py-40 px-30 flat-medium icon-primary text-center shadow hover-secondery-primary"
                                style="margin-top: 180px">
                                <span class=""><i class="flaticon-interior-design"></i></span>
                                <a class="mt-20 d-block" href="#">
                                    <h6>Condominium</h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 wow slideInUp animated">
                            <div class="property-item-type-2 bg-white py-40 px-30 flat-medium icon-primary text-center shadow hover-secondery-primary"
                                style="margin-top: 180px">
                                <span class=""><i class="flaticon-hotel"></i></span>
                                <a class="mt-20 d-block" href="#">
                                    <h6>House</h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 wow slideInDown animated">
                            <div class="property-item-type-2 bg-white py-40 px-30 flat-medium icon-primary text-center shadow hover-secondery-primary"
                                style="margin-top: 90px">
                                <span class=""><i class="flaticon-house"></i></span>
                                <a class="mt-20 d-block" href="#">
                                    <h6>Office</h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 wow slideInRight animated">
                            <div
                                class="property-item-type-2 bg-white py-40 px-30 flat-medium icon-primary text-center shadow hover-secondery-primary">
                                <span class=""><i class="flaticon-rental"></i></span>
                                <a class="mt-20 d-block" href="#">
                                    <h6>Shop</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Find the best Place End
==================================================================-->
{% endblock %}