{% include 'layout/header.html' %}
{% load static %}

<!-- Page Banner Start
==================================================================-->
<div class="page-banner overlay-black" style="padding: 150px 0">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="page-banner-title color-primary">FAQ</h1>
                <div class="text-area w-50 mt-15 color-white">
                    <p>Porttitor luctus est sit lacinia non praesent aptent hymenaeos taciti tortor. Sociosq platea
                        porta facilisis vitae dictum bibendun tellus ante fusce vulputate dolor lorem vulputate hac
                        quisque diam etiam.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 py-15 px-0 bg-transparent hover-white-primary">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner End
==================================================================-->
<!-- FAQ Page Start
====================================================-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="faq-style-one">
                    <div class="row">
                        <div class="col-md-12 col-lg-4 wow slideInDown animated">
                            <div class="sidebar-widget py-40 px-30 shadow bg-white lg-mb-50">
                                <h3 class="color-secondary line-bottom pb-15 mb-20">FAQ Categories</h3>
                                <ul class="list-sidebar color-secondary-a">
                                    <li>
                                        <a href="#">General Options</a>
                                    </li>
                                    <li>
                                        <a href="#">User Account</a>
                                    </li>
                                    <li>
                                        <a href="#">Shipping Methods</a>
                                    </li>
                                    <li>
                                        <a href="#">Pre-Sale Questions</a>
                                    </li>
                                    <li>
                                        <a href="#">Troubleshooting</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <div class="faq-details color-secondary-a shadow px-30 py-40 mt-md-50">
                                <h3 class="inner-title color-secondary mb-30 wow slideInDown animated">General Options
                                </h3>
                                <div class="faq-item mb-30 wow slideInUp animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Transfer account ownership ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray mb-30 wow slideInDown animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Shipping options page settings ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray mb-30 wow slideInUp animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Setting up product attributes ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray wow slideInDown animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Downloadable product ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <h3 class="inner-title color-secondary mb-30 mt-50 wow slideInUp animated">User Account
                                </h3>
                                <div class="faq-item hover-gray mb-30 wow slideInDown animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Manage payment settings and invoices ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray mb-30 wow slideInUp animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Pricing and plans guide ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray wow slideInDown animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Setting your company office hours ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <h3 class="inner-title color-secondary mb-30 mt-50 wow slideInUp animated">Shipping
                                    Methods</h3>
                                <div class="faq-item hover-gray mb-30 wow slideInDown animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Shipping components ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray mb-30 wow slideInUp animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Shipping options page settings ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray mb-30 wow slideInDown animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Customizing Forms ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray wow slideInUp animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-10">Increasing server memory ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-15">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <h3 class="inner-title color-secondary mb-30 mt-50 wow slideInDown animated">Pre-Sale
                                    Questions</h3>
                                <div class="faq-item hover-gray mb-30 wow slideInUp animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">How much does the premiun plan cost ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray mb-30 wow slideInDown animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Do you offer 24/7 customer support ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray mb-30 wow slideInUp animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">How long does the delivery take ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray mb-30 wow slideInDown animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Which payment methods do you support ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray wow slideInUp animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Can I enable or disable payment gateways ?
                                        </h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <h3 class="inner-title color-secondary mb-30 mt-50 wow slideInDown animated">
                                    Troubleshooting</h3>
                                <div class="faq-item hover-gray mb-30 wow slideInUp animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Manage user comments ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray mb-30 wow slideInDown animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Multiple installs on one domain ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                                <div class="faq-item hover-gray wow slideInUp animated">
                                    <span class="faq-icon color-white"><i class="fa fa-question"></i></span>
                                    <div class="faq-ans d-table">
                                        <h5 class="color-secondary mb-20">Fully Responsive Design ?</h5>
                                        <div class="text-area">
                                            <p>Faucibus gravida sem interdum Urna proin senectus nullam netus Conge
                                                litoral platea Lacus, non platea sodales feugiat hendrerit accumsan. Sap
                                                consectetuer auctor facilisi habitant felis enim rutrum Nullam.</p>
                                        </div>
                                        <hr class="my-20">
                                        <aside class="float-left">Was this answer helpful ?<a class="ml-20"
                                                href="#">Yes</a><a class="ml-10" href="#">No</a></aside>
                                        <a class="float-right md-d-n" href="#">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 wow slideInDown animated">
                                    <div class="mx-auto d-table">
                                        <ul class="pagination mt-50">
                                            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End FAQ Page Style One
====================================================-->
<!--  Partners and Subscribe Form Start
==================================================================-->
{% include 'layout/footer.html' %}