{% extends 'Property/base.html' %}
{% load static %}
{% block content %}
<!-- Page Banner Start
    ==================================================================-->
<div class="page-banner overlay-black" style="padding: 150px 0">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="page-banner-title color-primary">Single Property</h1>
                <div class="text-area w-50 mt-15 color-white">
                <p>{{property_single.propertyTitle}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 py-15 px-0 bg-transparent hover-white-primary">
                        <li class="breadcrumb-item"><a href={% url 'index' %}>Home</a></li>
                        <li class="breadcrumb-item"><a href={% url 'category' property_single.cate_id_id %}>category</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Single Property</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner End
    ==================================================================-->
<!-- Single Property Start
    ==================================================================-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="mb-30">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 wow slideInRight animated">
                            <div class="single-property position-relative">
                                <span class="bg-secondary color-white z-index-1 px-15 py-5 mr-20">For Sale</span>
                                <strong class="color-primary f-20">₹{{property_single.price}}</strong>
                                <h3 class="color-secondary mt-15">{{property_single.PropertyTitle}}</h3>
                                <span class="address icon-primary f-14 mt-5"><i class="fa fa-map-marker"></i>
                                {{property_single.address}}</span>
                                <ul class="property-features icon-primary d-table f-14 mt-15">
                                    <li><i class="flaticon-fit-screen"></i>Zipcode:{{property_single.zip}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 wow slideInLeft animated">
                            <div class="thumbnail-content float-right">
                                <ul class="hover-option icon-white z-index-1 position-relative mt-md-30"
                                    style="opacity: 1; top: 0; right: 0;">
                                    <li>
                                        <a data-toggle="tooltip" data-placement="top" title="" href="#"
                                            data-original-title="Wishlist"><i class="fa fa-heart-o"
                                                aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a data-toggle="tooltip" data-placement="top" title="" href="#"
                                            data-original-title="Print" onclick="window.print()"><i class="fa fa-print"
                                                aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a data-toggle="tooltip" data-placement="top" title="" href="#"
                                            data-original-title="Share"><i class="fa fa-share-alt"
                                                aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="text-area wow slideInLeft animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Description</h3>
                    <p><strong>{{property_single.propertyDescription}}</strong>
                    </p>
                </div>
                <div class="border-top-1-gray py-30 wow slideInRight animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Property Details</h3>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <ul class="list-by-tag hover-secondery-primary">
                                <li>Plot size : <span>{{property_single.areasize}}</span></li>
                                <li>Built year : <span>{{property_single.builtyear}}</span></li>
                            </ul>
                            <ul class="list-by-tag hover-secondery-primary">
                                <li>Neighbourhood : <span>{{property_single.address}}</span></li>
                                <li>city : <span>{{property_single.city}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="border-top-1-gray py-30 wow slideInUp animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Property Video</h3>
                    <div class="property-video bg-img-3 position-relative">
                        <a data-fancybox="" class="video-popup xy-center bg-primary color-white"
                            href="https://www.youtube.com/watch?v=8NXLyGiShjs"><i class="fa fa-play"
                                aria-hidden="true"></i></a>
                        <div class="loader xy-center">
                            <div class="loader-inner ball-scale-multiple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top-1-gray py-30 wow slideInDown animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Floor Plan</h3>
                    <img src="{% static 'images/others/plan-1.png' %}" alt="">

                </div>
                <div class="border-top-1-gray py-30 wow slideInDown animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Gallery</h3>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <img src="{% static 'images/others/plan-1.png' %}" alt="">
                        </div>
                            <div class="col-md-4 col-lg-4 col-sm-6">
                            <img src="{% static 'images/others/plan-1.png' %}" alt="">
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <img src="{% static 'images/others/plan-1.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="border-top-1-gray py-30 wow slideInDown animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Give Your ratings & Review</h3>
                    <form action="#" method="post" class="form-rating">
                        <div class="row">
                        {% csrf_token %}
                            <div class="form-group col-md-12 rating-animation">
                                <div>Move Mouse for Rating</div>
                                <div class="stars">  
                                    <input class="star star-5" id="star-5" value="5" type="radio" name="rate" /> <label class="star star-5" for="star-5"></label>
                                    <input class="star star-4" id="star-4" value="4" type="radio" name="rate" /> <label class="star star-4" for="star-4"></label> 
                                    <input class="star star-3" id="star-3" value="3" type="radio" name="rate" /> <label class="star star-3" for="star-3"></label> 
                                    <input class="star star-2" id="star-2" value="2" type="radio" name="rate" /> <label class="star star-2" for="star-2"></label> 
                                    <input class="star star-1" id="star-1" value="1" type="radio" name="rate" /> <label class="star star-1" for="star-1"></label> 
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-lg-6">
                                <input type="text" name="name" class="form-control bg-gray" placeholder="Your Name*">
                            </div>
                            <div class="form-group col-md-12 col-lg-12">
                                <textarea name="review" class="form-control bg-gray" rows="7"
                                    placeholder="enter your review/Comments..."></textarea>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-secondary">give rate & review</button>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="border-top-1-gray pt-30 wow slideInUp animated">
                 
                    <div class="comments-area">
                        <h3 class="color-secondary line-bottom pb-15 mb-20">User Reviews</h3>
                        {% for review in rating %}
                        <div class="comment">
                            <div class="float-left text-center">
                            <h3>{{review.name}}
                            </div>
                            <div class="comment-content d-table">
                                <div class="meta d-inline-block mb-15">
                                    <h5 class="color-dark"></h5>
                                    <div class="user-rating">
                                        <ul>
                                        {% if review.rate == 5  %}
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                        {% elif review.rate == 4  %}
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="deactive"></li>
                                        {% elif review.rate == 3 %}
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="deactive"></li>
                                            <li class="deactive"></li>
                                        {% elif review.rate == 2 %}
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="deactive"></li>
                                            <li class="deactive"></li>
                                            <li class="deactive"></li>
                                        {% else %}
                                            <li class="active"></li>
                                            <li class="deactive"></li>
                                            <li class="deactive"></li>
                                            <li class="deactive"></li>
                                            <li class="deactive"></li>
                                        {% endif %}
                                        </ul>
                                    </div>
                                </div>
                                <p>{{review.review}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="sidebar-widget bg-white shadow py-40 px-30 wow slideInUp animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Contact an Agent</h3>
                    <div class="d-flex">
                        <div class="contact-agent-image mr-20 float-left"><img src="{% static 'images/team/1.jpg' %}" class="rounded-circle" alt="images"></div>
                        <div class="align-self-center color-gray">
                            <h6 class="d-block mb-1 w-100 color-secondary">Andrew Gunservice</h6>
                            <p>realestate@info.com</p>
                            <p> 823447243</p>
                        </div>
                    </div>
                    <form action="#" method="post" class="mt-30">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control bg-gray" placeholder="Your Name">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="email" class="form-control bg-gray" placeholder="Email Address">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control bg-gray" placeholder="mobile">
                            </div>
                            <select class="select form-control" name="interst">
                                <option name=="interst" value="Loan">Loan</option>
                                <option name=="interst" value="invesment">Investment</option>
                            </select>
                            <div class="col-lg-12"><button type="submit" class="btn btn-primary w-100">Send
                                    Message</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Single Property End
    ==================================================================-->
{% endblock %}