{% extends 'Property/base.html' %}
{% load static %}
{% block content %}
<!-- Page Banner Start
    ==================================================================-->
<div class="page-banner overlay-black" style="padding: 150px 0">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="page-banner-title color-primary">Single Property</h1>
                <div class="text-area w-50 mt-15 color-white">
                <p>{{property_single.propertyTitle}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 py-15 px-0 bg-transparent hover-white-primary">
                        <li class="breadcrumb-item"><a href={% url 'index' %}>Home</a></li>
                        <li class="breadcrumb-item"><a href={% url 'category' property_single.cate_id_id %}>category</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Single Property</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner End
    ==================================================================-->
<!-- Single Property Start
    ==================================================================-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="mb-30">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 wow slideInRight animated">
                            <div class="single-property position-relative">
                                <span class="bg-secondary color-white z-index-1 px-15 py-5 mr-20">For Sale</span>
                                <strong class="color-primary f-20">{{property_single.price}}</strong>
                                <h3 class="color-secondary mt-15">{{property_single.PropertyTitle}}</h3>
                                <span class="address icon-primary f-14 mt-5"><i class="fa fa-map-marker"></i>
                                {{property_single.address}}</span>
                                <ul class="property-features icon-primary d-table f-14 mt-15">
                                    <li><i class="flaticon-fit-screen"></i>Zipcode:{{property_single.zip}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 wow slideInLeft animated">
                            <div class="thumbnail-content float-right">
                                <ul class="hover-option icon-white z-index-1 position-relative mt-md-30"
                                    style="opacity: 1; top: 0; right: 0;">
                                    <li>
                                        <a data-toggle="tooltip" data-placement="top" title="" href="#"
                                            data-original-title="Wishlist"><i class="fa fa-heart-o"
                                                aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a data-toggle="tooltip" data-placement="top" title="" href="#"
                                            data-original-title="Print" onclick="window.print()"><i class="fa fa-print"
                                                aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a data-toggle="tooltip" data-placement="top" title="" href="#"
                                            data-original-title="Share"><i class="fa fa-share-alt"
                                                aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs border-0 float-right navbar-tab-view mt-15 sm-mt-0"
                                    role="tablist" style="line-height: 20px;">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                                            role="tab" aria-controls="home" aria-selected="true"><i
                                                class="fa fa-file-image-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                            role="tab" aria-controls="profile" aria-selected="false"><i
                                                class="flaticon-location"></i></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages"
                                            role="tab" aria-controls="messages" aria-selected="false"><i
                                                class="flaticon-street-view"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid wow slideInUp animated">
        <div class="row d-flow-root">
            <div class="product-slider">
                <div class="tab-content">
                    <div class="tab-pane active position-relative" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="service-images owl-carousel slide-1 dot-on-slider">
                            <img src="{% static 'images/property/33.jpg' %}" alt="image">
                            <img src="images/property/34.jpg" alt="image">
                            <img src="images/property/32.jpg" alt="image">
                        </div>
                    </div>
                    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div id="map" class="canvas" style="height: 600px"></div>
                    </div>
                    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                        <div class="mapimageview"><iframe
                                src="https://www.google.com/maps/embed?pb=!4v1599036304356!6m8!1m7!1sqKj5Ao7cdLkLmIAAieQWgw!2m2!1d-37.78266616894371!2d145.0232453320753!3f99.89449149743196!4f-13.159907315623357!5f0.7820865974627469"
                                height="600" style="border:0;" allowfullscreen="" aria-hidden="false"
                                tabindex="0"></iframe></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="text-area mt-50 wow slideInLeft animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Description</h3>
                    <p>Aliquam gravida hendrerit name enim phasellus molestie magnis vitae vivamus odio mattis lacinia.
                    </p>
                </div>
                <div class="border-top-1-gray py-30 wow slideInRight animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Property Details</h3>
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <ul class="list-by-tag hover-secondery-primary">
                                <li>Plot size : <span>{{property_single.areasize}}</span></li>
                                <li>Built year : <span>{{property_single.builtyear}}</span></li>
                            </ul>
                            <ul class="list-by-tag hover-secondery-primary">
                                <li>Neighbourhood : <span>{{property_single.Neighbourhood}}</span></li>
                                <li>city : <span>{{property_single.city}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="border-top-1-gray py-30 wow slideInUp animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Property Video</h3>
                    <div class="property-video bg-img-3 position-relative">
                        <a data-fancybox="" class="video-popup xy-center bg-primary color-white"
                            href="https://www.youtube.com/watch?v=8NXLyGiShjs"><i class="fa fa-play"
                                aria-hidden="true"></i></a>
                        <div class="loader xy-center">
                            <div class="loader-inner ball-scale-multiple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-top-1-gray py-30 wow slideInDown animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Floor Plan</h3>
                    <img src="{% static 'images/others/plan-1.png' %}" alt="">

                </div>
                <div class="border-top-1-gray py-30 wow slideInDown animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Gallery</h3>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <img src="{% static 'images/others/plan-1.png' %}" alt="">
                        </div>
                            <div class="col-md-4 col-lg-4 col-sm-6">
                            <img src="{% static 'images/others/plan-1.png' %}" alt="">
                        </div>
                        <div class="col-md-4 col-lg-4 col-sm-6">
                            <img src="{% static 'images/others/plan-1.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="border-top-1-gray py-30 wow slideInDown animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Give Your Review</h3>
                    <form action="#" method="post" class="form-rating">
                        <div class="row">
                            <div class="form-group col-md-12 rating-animation">
                                <span>Move Mouse for Rating</span>
                                <div class="star-rating pt-10">
                                    <select id="star-rating" name="rating" autocomplete="off">
                                        <option value="Strongly Disagree">Very Bad Review</option>
                                        <option value="Disagree">Bad Review</option>
                                        <option value="Neither Agree or Disagree" selected="selected">Good Review
                                        </option>
                                        <option value="Agree">Very Good Quality</option>
                                        <option value="Strongly Agree">Excellent Quality</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-12 col-lg-6">
                                <input type="text" class="form-control bg-gray" placeholder="Your Name*">
                            </div>
                            <div class="form-group col-md-12 col-lg-6">
                                <input type="email" class="form-control bg-gray" placeholder="Email Address*">
                            </div>
                            <div class="form-group col-md-12 col-lg-12">
                                <textarea class="form-control bg-gray" rows="7"
                                    placeholder="Type Comments..."></textarea>
                            </div>
                            <div class="col-lg-12"><button type="submit" class="btn btn-secondary">Send</button></div>
                        </div>
                    </form>
                </div>
                <div class="border-top-1-gray pt-30 wow slideInUp animated">
                    <div class="comments-area">
                        <h3 class="color-secondary line-bottom pb-15 mb-20">User Reviews</h3>
                        <div class="comment">
                            <div class="float-left text-center">
                                <div class="user-image"><img src="{% static 'images/testimonial/1.jpg' %}"
                                        class="rounded-circle" alt="images"></div>
                                <a class="btn-link mt-15" href="#"><i>Replay</i></a>
                            </div>
                            <div class="comment-content d-table">
                                <div class="meta d-inline-block mb-15">
                                    <h5 class="color-dark">Dwyane Clark</h5>
                                    <div class="user-rating">
                                        <ul>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="active"></li>
                                            <li class="deactive"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="float-right f-14">Posted On 10th September, 2020</div>
                                <p>Purus litora accumsan platea convallis consequat congue iaculis primis consectetse
                                    rutrum nisl senectus molestie luctus. Facilisis varius arcu lacinia. Dignissim
                                    cursus imperdie nostra dui semper commodo sociosq.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="sidebar-widget bg-white mt-50 shadow py-40 px-30 wow slideInUp animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Contact an Agent</h3>
                    <div class="d-flex">
                        <div class="contact-agent-image mr-20 float-left"><img src="{% static 'images/team/1.jpg' %}"
                                class="rounded-circle" alt="images"></div>
                        <div class="align-self-center color-gray">
                            <h6 class="d-block mb-1 w-100 color-secondary">Andrew Gunservice</h6>
                            <p>realestate@info.com</p>
                            <p> 823447243</p>
                        </div>
                    </div>
                    <form action="#" method="post" class="mt-30">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control bg-gray" placeholder="Your Name">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="email" class="form-control bg-gray" placeholder="Email Address">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control bg-gray" placeholder="Phone">
                            </div>
                            <div class="form-group col-md-12">
                                <textarea class="form-control bg-gray" rows="4"
                                    placeholder="Type Your Massage"></textarea>
                            </div>
                            <div class="col-lg-12"><button type="submit" class="btn btn-primary w-100">Send
                                    Message</button></div>
                        </div>
                    </form>
                </div>
                <div class="sidebar-widget bg-white mt-50 shadow py-40 px-30 wow slideInDown animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Latest Properties</h3>
                    <div class="owl-carousel slide-1 owl-dots-none">
                    {% for allp in property %}
                        <div class="property-item">
                            <div class="property-img position-relative overflow-hidden overlay-secondary-4">
                                <img src={{ allp.propertyimage.url }} class="property" alt="image">
                                <span
                                    class="thum-category category-1 bg-secondary color-white z-index-1 px-15">New</span>
                                <ul class="hover-option position-absolute icon-white z-index-1">
                                    <li>
                                        <a data-toggle="tooltip" data-placement="top" title="Wishlist" href="#"><i
                                                class="fa fa-heart-o" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a data-toggle="tooltip" data-placement="top" title="Compare" href="#"><i
                                                class="fa fa-random" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                                <div class="meta-property icon-primary color-white z-index-1">
                                    <ul>
                                        <li><i class="fa fa-calendar"></i> 06/27/2020</li>
                                        <li><i class="fa fa-user"></i> James Bond</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="property-content bg-white pt-30 pb-50">
                                <a class="color-secondary mb-5" href="single-property.html">
                                    <h5>{{allp.PropertyTitle}}</h5>
                                </a>
                                <span class="address icon-primary f-14"><i class="fa fa-map-marker"></i>{{allp.address}}</span>
                                <ul class="about-property list-half icon-primary d-table f-14 mb-30 mt-20">
                                    <li><i class="flaticon-fit-screen"></i>plotSize:{{allp.areasize}}</li>
                                </ul>
                                <div class="property-cost color-white list-half w-100">
                                    <ul>
                                        <li>For Rent</li>
                                        <li>̥₹ {{allp.price}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="sidebar-widget bg-white mt-50 shadow py-40 px-30 wow slideInUp animated">
                    <h3 class="color-secondary line-bottom pb-15 mb-20">Mortgage Calculator</h3>
                    <ul class="list-by-tag">
                        <li>Total Amount <span>Your payment</span></li>
                        <li><strong class="color-primary f-20">̥₹ {{property_single.price}}</strong> <span class="color-primary">$
                                1,458</span></li>
                    </ul>
                    <ul class="list-by-tag mt-20">
                        <li>Total cost of loan <span>$ 610,718</span></li>
                        <li>Total interest paid <span>$ 80,718</span></li>
                        <li>Payment <span>Monthly</span></li>
                        <li>Mortgage payment <span>$ 1,458</span></li>
                    </ul>
                    <form action="#" method="post" class="mt-20 border-top-1-gray pt-20 adbanced-form-two">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Total Amount </label>
                                <input type="text" class="form-control bg-gray" value="$ 530,000">
                            </div>
                            <div class="form-group col-md-12">
                                <label>Down Payment </label>
                                <input type="text" class="form-control bg-gray" value="$ 0">
                            </div>
                            <div class="form-group col-md-12">
                                <label>Interest Rate </label>
                                <input type="text" class="form-control bg-gray" value="% 2.5">
                            </div>
                            <div class="form-group col-md-12">
                                <label>Loan Period</label>
                                <div class="select-wrapper position-relative">
                                    <select class="select form-control has-val">

                                        <option>10 Years</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Payment Preiod</label>
                                <div class="select-wrapper position-relative">
                                    <select class="select form-control has-val">
                                        <option>Monthly</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12"><button type="submit"
                                    class="btn btn-primary w-100">Calculate</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Single Property End
    ==================================================================-->
{% endblock %}