{% include 'layout/header.html' %}
{% load static %}
<!-- Page Banner Start
==================================================================-->
<div class="page-banner overlay-black" style="padding: 150px 0">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="page-banner-title color-primary">Services</h1>
                <div class="text-area w-50 mt-15 color-white">
                    <p>Porttitor luctus est sit lacinia non praesent aptent hymenaeos taciti tortor. Sociosq platea
                        porta facilisis vitae dictum bibendun tellus ante fusce vulputate dolor lorem vulputate hac
                        quisque diam etiam.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 py-15 px-0 bg-transparent hover-white-primary">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Services</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Page Banner End
==================================================================-->
<!-- Services Start
==================================================================-->
<section style="background: url('images/background/bg-map.png') center center /cover fixed #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow slideInDown animated">
                <div class="main-title w-75 mx-auto d-table text-center mb-30">
                    <span class="small-title color-primary position-relative line-2-primary">What We Do?</span>
                    <h2 class="title mb-20 color-secondary">Our Services</h2>
                    <span class="sub-title">Congue commodo ipsum, risus urna nisi. Primis velit turpis sollicitudin.
                        Felis aptent sagittis aliquet turpis et tristique montes vestibulum rutrum. Scelerisque viverra
                        ac ridiculus enim. Curabitur.</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow slideInRight animated">
                <div class="service-item bg-white px-30 py-40 mt-30">
                    <div class="service-info hover-secondery-primary">
                        <span class="flat-large icon-primary"><i class="flaticon-house"></i></span>
                        <a class="my-20 d-table" href="service-details.html">
                            <h4>Buying Properties</h4>
                        </a>
                        <p>Metus rhoncus hendrer tellus lacinia aptent justo urna. Leo conseq dapibus ipsum eleif massa
                            enim potenti at magnis orci molesti praesent ultrices elementum.</p>
                        <hr class="border-top-1">
                        <a class="btn-round bg-secondary" href="service-details.html"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow slideInUp animated">
                <div class="service-item bg-white px-30 py-40 mt-30">
                    <div class="service-info hover-secondery-primary">
                        <span class="flat-large icon-primary"><i class="flaticon-deal"></i></span>
                        <a class="my-20 d-table" href="service-details.html">
                            <h4>Selling Properties</h4>
                        </a>
                        <p>Metus rhoncus hendrer tellus lacinia aptent justo urna. Leo conseq dapibus ipsum eleif massa
                            enim potenti at magnis orci molesti praesent ultrices elementum.</p>
                        <hr class="border-top-1">
                        <a class="btn-round bg-secondary" href="service-details.html"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow slideInLeft animated">
                <div class="service-item bg-white px-30 py-40 mt-30">
                    <div class="service-info hover-secondery-primary">
                        <span class="flat-large icon-primary"><i class="flaticon-sale"></i></span>
                        <a class="my-20 d-table" href="service-details.html">
                            <h4>Rental Properties</h4>
                        </a>
                        <p>Metus rhoncus hendrer tellus lacinia aptent justo urna. Leo conseq dapibus ipsum eleif massa
                            enim potenti at magnis orci molesti praesent ultrices elementum.</p>
                        <hr class="border-top-1">
                        <a class="btn-round bg-secondary" href="service-details.html"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow slideInLeft animated">
                <div class="service-item bg-white px-30 py-40 mt-30">
                    <div class="service-info hover-secondery-primary">
                        <span class="flat-large icon-primary"><i class="flaticon-money"></i></span>
                        <a class="my-20 d-table" href="service-details.html">
                            <h4>Legal Investment</h4>
                        </a>
                        <p>Metus rhoncus hendrer tellus lacinia aptent justo urna. Leo conseq dapibus ipsum eleif massa
                            enim potenti at magnis orci molesti praesent ultrices elementum.</p>
                        <hr class="border-top-1">
                        <a class="btn-round bg-secondary" href="service-details.html"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow slideInDown animated">
                <div class="service-item bg-white px-30 py-40 mt-30">
                    <div class="service-info hover-secondery-primary">
                        <span class="flat-large icon-primary"><i class="flaticon-checklists"></i></span>
                        <a class="my-20 d-table" href="service-details.html">
                            <h4>Property Listing</h4>
                        </a>
                        <p>Metus rhoncus hendrer tellus lacinia aptent justo urna. Leo conseq dapibus ipsum eleif massa
                            enim potenti at magnis orci molesti praesent ultrices elementum.</p>
                        <hr class="border-top-1">
                        <a class="btn-round bg-secondary" href="service-details.html"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow slideInRight animated">
                <div class="service-item bg-white px-30 py-40 mt-30">
                    <div class="service-info hover-secondery-primary">
                        <span class="flat-large icon-primary"><i class="flaticon-research"></i></span>
                        <a class="my-20 d-table" href="service-details.html">
                            <h4>Market Analysis</h4>
                        </a>
                        <p>Metus rhoncus hendrer tellus lacinia aptent justo urna. Leo conseq dapibus ipsum eleif massa
                            enim potenti at magnis orci molesti praesent ultrices elementum.</p>
                        <hr class="border-top-1">
                        <a class="btn-round bg-secondary" href="service-details.html"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End
==================================================================-->
<!-- Find the best Place Start
==================================================================-->
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow slideInDown animated">
                <div class="main-title w-75 mx-auto d-table text-center mb-30">
                    <span class="small-title color-primary position-relative line-2-primary">What Are You Looking
                        For?</span>
                    <h2 class="title mb-20 color-secondary">Find the Best Places to you.</h2>
                    <span class="sub-title">Congue commodo ipsum, risus urna nisi. Primis velit turpis sollicitudin.
                        Felis aptent sagittis aliquet turpis et tristique montes vestibulum rutrum. Scelerisque viverra
                        ac ridiculus enim. Curabitur.</span>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="all-property mt-30">
                    <div class="row">
                        <div class="col-md-6 col-lg-2 wow slideInRight animated">
                            <div
                                class="property-item-type-2 bg-white py-40 px-30 flat-medium icon-primary text-center shadow hover-secondery-primary">
                                <span class=""><i class="flaticon-house-2"></i></span>
                                <a class="mt-20 d-block" href="#">
                                    <h6>Apartment</h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 wow slideInDown animated">
                            <div class="property-item-type-2 bg-white py-40 px-30 flat-medium icon-primary text-center shadow hover-secondery-primary"
                                style="margin-top: 90px">
                                <span class=""><i class="flaticon-rental"></i></span>
                                <a class="mt-20 d-block" href="#">
                                    <h6>Building</h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 wow slideInLeft animated">
                            <div class="property-item-type-2 bg-white py-40 px-30 flat-medium icon-primary text-center shadow hover-secondery-primary"
                                style="margin-top: 180px">
                                <span class=""><i class="flaticon-interior-design"></i></span>
                                <a class="mt-20 d-block" href="#">
                                    <h6>Condominium</h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 wow slideInRight animated">
                            <div class="property-item-type-2 bg-white py-40 px-30 flat-medium icon-primary text-center shadow hover-secondery-primary"
                                style="margin-top: 180px">
                                <span class=""><i class="flaticon-hotel"></i></span>
                                <a class="mt-20 d-block" href="#">
                                    <h6>House</h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 wow slideInUp animated">
                            <div class="property-item-type-2 bg-white py-40 px-30 flat-medium icon-primary text-center shadow hover-secondery-primary"
                                style="margin-top: 90px">
                                <span class=""><i class="flaticon-house"></i></span>
                                <a class="mt-20 d-block" href="#">
                                    <h6>Office</h6>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-2 wow slideInLeft animated">
                            <div
                                class="property-item-type-2 bg-white py-40 px-30 flat-medium icon-primary text-center shadow hover-secondery-primary">
                                <span class=""><i class="flaticon-rental"></i></span>
                                <a class="mt-20 d-block" href="#">
                                    <h6>Shop</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Find the best Place End
==================================================================-->
{% include 'layout/footer.html' %}