{% load static %}
<!-- Top Agencies Start
==================================================================-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 wow animated slideInUp">
                <div class="side-title pb-30">
                    <span class="small-title color-primary position-relative line-primary">Hot</span>
                    <h2 class="title color-secondary">Top Agencies</h2>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="row">
                {% for show in agency %}
                    <div class="col-md-12 col-lg-6 wow animated slideInUp">
                        <div class="agencies mt-30 py-40 px-30 bg-gray hover-secondery-primary">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xl-4 d-flex align-items-center">
                                    <a href="#"><img src="{{show.a_image.url}}" alt="image"></a>
                                </div>
                                <div class="col-md-12 col-lg-12 col-xl-8">
                                    <div class="agencies-content">
                                        <a href="#">
                                            <h4>{{show.a_name}}</h4>
                                        </a>
                                        <span class="mt-5 mb-30 d-block">{{show.a_address}}</span>
                                        <ul>
                                            <li>
                                                <div
                                                    class="position-relative bg-secondary color-white py-5 px-10 d-inline-block">
                                                    Properties <span class="number">57</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div
                                                    class="position-relative bg-secondary color-white py-5 px-10 d-inline-block">
                                                    Featured <span class="number">36</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div
                                                    class="position-relative bg-secondary color-white py-5 px-10 d-inline-block">
                                                    Agents <span class="number">18</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Top Agencies End
==================================================================-->