<!-- Our Agents Start
=========================================================================-->
<section style="background: linear-gradient(to right, #fff 90%, #f5f5f5 10%); z-index: 10;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 wow animated slideInUp">
                <div class="side-title mb-30">
                    <span class="small-title color-primary position-relative line-primary">Team</span>
                    <h2 class="title mb-20 color-secondary">Our Most Popular Agents</h2>
                    <p>Luctus posuere facilisi eros auctor lacinia litora. Convall aptent nisy parturient scelerisq.
                        Nullam fringil condimen integer mauris lacus aliquam, quam massa lobortis commod proin
                        magna.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 wow animated slideInDown">
                <div class="owl-carousel slide-4 owl-dots-none mt-30 owl-loaded owl-drag">
                    <div class="agents-profile">
                        <div class="agent-image position-relative overflow-hidden">
                            <span class="thum-category category-1 bg-secondary color-white z-index-1 px-15">32
                                Properties</span>
                            <img src="{% static 'images/team/1.jpg' %}" alt="image">
                            <span class="agent-agency position-absolute bg-primary color-white px-15">Real
                                Properties</span>
                        </div>
                        <div class="d-table pt-20 hover-secondery-primary">
                            <a class="mb-5 d-block" href="#">
                                <h4>Andrew Gunservice</h4>
                            </a>
                            <span class="color-gray">Urbis Building, UK</span>
                            <div class="agent-more-details color-secondary-a">
                                <a class="color-secondary position-relative plus-minus mt-5 pl-15 d-block"
                                    data-toggle="collapse" href="#multiCollapse1" role="button" aria-expanded="false"
                                    aria-controls="multiCollapse1">More Details</a>
                                <div class="collapse mt-10" id="multiCollapse1">
                                    <ul class="agent-info icon-primary">
                                        <li><span class="mr-10"><i class="fa fa-flag" aria-hidden="true"></i></span>
                                            Buying Agent</li>
                                        <li><span class="mr-10"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                            fresher@info.com</li>
                                        <li><span class="mr-10"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                            (012) 234 567 890</li>
                                    </ul>
                                    <ul class="social-media-3 mt-10">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="agents-profile">
                        <div class="agent-image position-relative overflow-hidden">
                            <span class="thum-category category-1 bg-secondary color-white z-index-1 px-15">42
                                Properties</span>
                            <img src="{% static 'images/team/2.jpg' %}" alt="image">
                            <span class="agent-agency position-absolute bg-primary color-white px-15">Real
                                Properties</span>
                        </div>
                        <div class="d-table pt-20 hover-secondery-primary">
                            <a class="mb-5 d-block" href="#">
                                <h4>Emily Kaif</h4>
                            </a>
                            <span class="color-gray">Rosedale, Atlanta.</span>
                            <div class="agent-more-details color-secondary-a">
                                <a class="color-secondary position-relative plus-minus mt-5 pl-15 d-block"
                                    data-toggle="collapse" href="#multiCollapse2" role="button" aria-expanded="false"
                                    aria-controls="multiCollapse2">More Details</a>
                                <div class="collapse" id="multiCollapse2">
                                    <ul class="agent-info icon-primary">
                                        <li><span class="mr-10"><i class="fa fa-flag" aria-hidden="true"></i></span>
                                            Selling Agent</li>
                                        <li><span class="mr-10"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                            fresher@info.com</li>
                                        <li><span class="mr-10"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                            (012) 234 567 890</li>
                                    </ul>
                                    <ul class="social-media-3 mt-10">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Agents End
==================================================================-->