<!-- Experience and Achievements Start
    ==================================================================-->
<div class="experience-achievement bg-secondary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-4 wow animated slideInRight">
                <div class="row">
                    <div class="py-80 px-60 color-white">
                        <h3>More than <span class="display-1 color-primary">9</span>years of Experience</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8 py-80 px-60 overlay-secondary-6"
                style="background: url() center center /cover; height: fit-content;">
                <div class="fact-counter text-center">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-3 wow animated slideInUp">
                            <div class="counter count wow py-40 px-15 bg-secondary">
                                <div class="counter-point d-inline-block">
                                    <h2 class="count-num color-primary" data-speed="3000" data-stop="2529">0</h2>
                                </div>
                                <h6 class="achievement-title color-white">Property For Rent</h6>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 wow animated slideInDown">
                            <div class="counter count wow py-40 px-15 mt-sm-30 bg-secondary">
                                <div class="counter-point d-inline-block">
                                    <h2 class="count-num color-primary" data-speed="3000" data-stop="1064">0</h2>
                                </div>
                                <h6 class="achievement-title color-white">Property For Sale</h6>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 wow animated slideInUp">
                            <div class="counter count wow py-40 px-15 mt-lg-30 bg-secondary">
                                <div class="counter-point d-inline-block">
                                    <h2 class="count-num color-primary" data-speed="3000" data-stop="720">0</h2>
                                </div>
                                <h6 class="achievement-title color-white">Agents</h6>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-3 wow animated slideInDown">
                            <div class="counter count wow py-40 px-15 mt-lg-30 bg-secondary">
                                <div class="counter-point d-inline-block">
                                    <h2 class="count-num color-primary" data-speed="3000" data-stop="117">0</h2>
                                </div>
                                <h6 class="achievement-title color-white">Broker Houses</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Experience and Achievements Start
    ==================================================================-->