<!-- filter Start
==================================================================-->
<section>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-md-12 col-lg-12 wow animated slideInUp animated"
                style="visibility: visible; animation-name: slideInUp;">
                <div class="banner-content y-middle color-dark z-index-1">
                    <ul class="nav nav-tabs border-0 m-auto d-table" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="buy-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Buy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="rent-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="false">Rent</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel">
                            <form
                                class="adbanced-form-two form-banner amenities-list bg-secondary color-white py-30 px-20">
                                <div class="row">
                                    <div class="form-group col-lg-3 col-md-6 col-6">
                                        <div class="select-wrapper position-relative">
                                            <select class="select form-control">
                                                <option>select category</option>
                                                {% for category in cat %}
                                                <option name="category" value={{category.name}}>
                                                {{category.name}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-3 col-md-6 col-6">
                                        <div class="select-wrapper position-relative">
                                            <select class="select form-control">
                                                <option>Select subcategory</option>
                                                    {% for subcategory in subcat %}
                                                <option name="category" value={{subcategory.sub_name}}>
                                                {{subcategory.sub_name}}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0 mt-md-15 col-lg-3  col-md-6">
                                        <div class="price_range">
                                            <div class="price-filter">
                                                <span class="price-slider">
                                                    <input class="filter_price" type="text" name="price" value="100000;900000" />
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 col-lg-3">
                                        <input class="btn btn-primary w-100" type="submit" name="search"
                                            value="Search">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--filter End
==================================================================-->