{% load static %}
<!-- Footer Start
==================================================================-->

<!-- Footer End
==================================================================-->

<!--  Partners and Subscribe Form Start
==================================================================-->
<div class="patner-subscribe bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12 wow animated slideInDown">
				<div class="bg-white shadow py-80">
					<div class="row">
						<div class="col-md-12 col-lg-6 px-60 border-right">
							<div class="side-title pb-30">
								<span class="small-title color-primary position-relative line-primary">Partners</span>
								<h2 class="title mb-20 color-secondary">Our Popular follows !</h2>
								<p>At Squarespace, we believe in the power of individuals to make great things and the power of organizations to make systemic impact.</p>
							</div>
							<div class="owl-carousel partners mt-30">
								<img src="{% static 'images/partner/1.png' %}" alt="Image not found!">
								<img src="{% static 'images/partner/2.png' %}" alt="Image not found!">
								<img src="{% static 'images/partner/3.png' %}" alt="Image not found!">
								<img src="{% static 'images/partner/4.png' %}" alt="Image not found!">
								<img src="{% static 'images/partner/5.png' %}" alt="Image not found!">
								<img src="{% static 'images/partner/6.png' %}" alt="Image not found!">
							</div>
						</div>
						<div class="col-md-12 col-lg-6 px-60">
							<form class="news-letter bg-gray mt-30">
								<div class="form-group position-relative">
									<input class="form-control" type="text" name="email" placeholder="Subscribe">
									<button class="bg-gray color-secondary"><i class="fa fa-paper-plane"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--  Partners and Subscribe Form Start
==================================================================-->

<!-- Footer Start
==================================================================-->
<footer class="bg-secondary pb-50" style="margin-top: -233px; padding-top: 313px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-6 wow animated slideInLeft">
				<div class="footer-logo"><a href="index.html"><img class="nav-logo" src="{% static 'images/logo/logo-white.png' %}" alt="Footer Logo"></a></div>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-6 wow animated slideInRight">
				<ul class="social-media-2 border-white large color-white-a float-right">
					<li class="mr-20 color-white"><strong>Follow Us:</strong></li>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
			<hr class="border-bottom-1 w-100 my-50">
			<div class="col-sm-6 col-md-6 col-lg-3 wow animated slideInUp">
				<div class="footer-widget color-gray-light mt-sm-30">
					<h3 class="color-white line-bottom pb-15 mb-20">Have Any Question?</h3>
					<div class="widget-content color-primary">
						<ul class="widget-contact">
							<li>
								Call
								<span class="color-white">+(91) 484 319 3597</span>
							</li>
							<li>
								Email
								<span class="color-white">propertymanage@gmail.com</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-3 wow animated slideInDown">
				<div class="footer-widget color-gray-light mt-sm-30">
					<h3 class="color-white line-bottom pb-15 mb-20">About</h3>
					<div class="widget-content hover-white-primary">
						<ul class="quick-links">
							<li><a href="#">Agency</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-3 wow animated slideInUp">
				<div class="footer-widget color-gray-light mt-md-30">
					<h3 class="color-white line-bottom pb-15 mb-20">Quick Links</h3>
					<div class="widget-content hover-white-primary">
						<ul class="quick-links">
							<li><a href="#">For Rent</a></li>
							<li><a href="#">For Sale</a></li>
							<li><a href="#">Commercial</a></li>
							<li><a href="#">Agents</a></li>
							<li><a href="#">Property Guides</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-3 wow animated slideInDown">
				<div class="footer-widget color-gray-light mt-sm-30">
					<h3 class="color-white line-bottom pb-15 mb-20">Help</h3>
					<div class="widget-content hover-white-primary">
						<ul class="quick-links">
							<li><a href="#">Payments</a></li>
							<li><a href="#">Shipping</a></li>
							<li><a href="#">Cancellation</a></li>
							<li><a href="#">FAQ</a></li>
							<li><a href="#">Report</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="copyright bg-secondary color-white">
	<div class="container">
		<div class="row">
			<hr class="border-bottom-1 w-100 m-0">
			<div class="col-md-12 col-lg-12">
				<div class="py-15 text-center">
					Real estate @ 2020. All Rights Reserved.
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer End
==================================================================-->
<!-- jquery Links
    ==================================================================-->

<!-- <script src="{% static 'js/jquery-v3.4.1.js' %}"></script> -->
<script src="{% static 'js/greensock.js' %}"></script>
<script src="{% static 'js/layerslider.transitions.js' %}"></script>
<script src="{% static 'js/layerslider.kreaturamedia.jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/tmpl.js' %}"></script>
<script src="{% static 'js/jquery.dependClass-0.1.js' %}"></script>
<script src="{% static 'js/draggable-0.1.js' %}"></script>
<script src="{% static 'js/jquery.slider.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/color-settings.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script>
    $(document).ready(function() {
  $('#summernote').summernote();
});
</script>

<!-- Initializing the slider -->
<script>
    // Layer Slider
    //------------------------------------
    $('#slider').layerSlider({
        sliderVersion: '6.0.0',
        type: 'fullsize',
        pauseOnHover: 'disabled',
        responsiveUnder: 0,
        layersContainer: 1200,
        maxRatio: 1,
        parallaxScrollReverse: true,
        hideUnder: 0,
        hideOver: 100000,
        skin: 'numbers',
        showBarTimer: false,
        thumbnailNavigation: 'disabled',
        allowRestartOnResize: true,
        navPrevNext: true,
        navStartStop: true,
        navButtons: true,
        skinsPath: '{% static "images/slider/skins/" %}',
    });

</script>
<script>
    document.onkeydown = function (e) {
        if (e.keyCode == 123) {
            return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
            return false;
        }
        if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
            return false;
        }

        if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
            return false;
        }
    }
</script>
</body>

</html>