<!-- how to Process Start
    ==================================================================-->
<section class="overlay-secondary overflow-hidden"
    style="background: url(images/background/memphis.html); padding-bottom: 210px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 wow animated slideInRight">
                <div class="side-title pb-30">
                    <span class="small-title color-primary position-relative line-primary">What You Want</span>
                    <h2 class="title mb-20 color-white">Pushing The Boundaries Of What’s Possible.</h2>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 wow animated slideInLeft">
                <div class="color-white">
                    <p>Luctus posuere facilisi eros auctor lacinia litora. Convall aptent nisy parturient scelerisq.
                        Nullam fringil condimen integer mauris lacus aliquam, quam massa lobortis commod proin
                        magna.
                    </p>
                </div>
            </div>
            <div class="col-md-12 col-lg-12">
                <div class="position-relative border-full mt-30">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 wow animated slideInDown">
                            <div class="process-step flat-large icon-primary">
                                <i class="flaticon-hotel"></i>
                                <h4 class="color-white my-20">Choose a Category</h4>
                                <span class="color-primary d-block pb-20">Step - 1</span>
                                <span class="dotted position-relative"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 wow animated slideInUp">
                            <div class="process-step flat-large icon-primary mt-sm-50">
                                <i class="flaticon-home"></i>
                                <h4 class="color-white my-20">Find Real Estate</h4>
                                <span class="color-primary d-block pb-20">Step - 2</span>
                                <span class="dotted position-relative"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 wow animated slideInDown">
                            <div class="process-step flat-large icon-primary mt-md-50">
                                <i class="flaticon-sale"></i>
                                <h4 class="color-white my-20">Delling Property</h4>
                                <span class="color-primary d-block pb-20">Step - 3</span>
                                <span class="dotted position-relative"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 wow animated slideInUp">
                            <div class="process-step flat-large icon-primary mt-md-50">
                                <i class="flaticon-deal"></i>
                                <h4 class="color-white my-20">Take The Key</h4>
                                <span class="color-primary d-block pb-20">Step - 4</span>
                                <span class="dotted position-relative"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Process End
    ==================================================================-->
<!-- Looking For Start
    ==================================================================-->
<div class="property-looking pb-80" style="margin-top: -130px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 wow animated slideInUp">
                <div class="text-thumbnail text-center bg-secondary py-40 px-30 color-white color-white-a">
                    <a class="mb-20" href="#">
                        <h4>Modern Villa</h4>
                    </a>
                    <p class="mb-20">Fames elementum sollicitud pretiuma aenean consequat curabitur hendrerit.</p>
                    <span class="d-block bg-primary icon-white flat-small"><i class="flaticon-house-2"></i></span>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow animated slideInDown">
                <div class="text-thumbnail text-center bg-secondary mt-sm-30 py-40 px-30 color-white color-white-a">
                    <a class="mb-20" href="#">
                        <h4>Family House</h4>
                    </a>
                    <p class="mb-20">Fames elementum sollicitud pretiuma aenean consequat curabitur hendrerit.</p>
                    <span class="d-block bg-primary icon-white flat-small"><i class="flaticon-rental"></i></span>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow animated slideInUp">
                <div class="text-thumbnail text-center bg-secondary mt-md-30 py-40 px-30 color-white color-white-a">
                    <a class="mb-20" href="#">
                        <h4>Town House</h4>
                    </a>
                    <p class="mb-20">Fames elementum sollicitud pretiuma aenean consequat curabitur hendrerit.</p>
                    <span class="d-block bg-primary icon-white flat-small"><i class="flaticon-hotel"></i></span>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 wow animated slideInDown">
                <div class="text-thumbnail text-center bg-secondary mt-md-30 py-40 px-30 color-white color-white-a">
                    <a class="mb-20" href="#">
                        <h4>Appartment</h4>
                    </a>
                    <p class="mb-20">Fames elementum sollicitud pretiuma aenean consequat curabitur hendrerit.</p>
                    <span class="d-block bg-primary icon-white flat-small"><i class="flaticon-rental"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Looking For End
    ==================================================================-->