<!-- service start =====================================================-->
<section style="background-color: #f5f5f5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 wow animated slideInUp">
                <div class="main-title w-75 mx-auto d-table text-center mb-30">
                    <span class="small-title color-primary position-relative line-2-primary">What We Do?</span>
                    <h2 class="title mb-20 color-secondary">Our Services</h2>
                    <span class="sub-title">Congue commodo ipsum, risus urna nisi. Primis velit turpis sollicitudin.
                        Felis aptent sagittis aliquet turpis et tristique montes vestibulum rutrum. Scelerisque
                        viverra ac ridiculus enim. Curabitur.</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow animated slideInDown">
                <div class="service-item bg-white px-30 py-40 mt-30">
                    <div class="service-info hover-secondery-primary">
                        <span class="flat-large icon-primary"><i class="flaticon-house"></i></span>
                        <a class="my-20 d-table" href="service-details.html">
                            <h4>Buying Properties</h4>
                        </a>
                        <p>Metus rhoncus hendrer tellus lacinia aptent justo urna. Leo conseq dapibus ipsum eleif
                            massa enim potenti at magnis orci molesti praesent ultrices elementum.</p>
                        <hr class="border-top-1">
                        <a class="btn-round bg-secondary" href="service-details.html"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow animated slideInUp">
                <div class="service-item bg-white px-30 py-40 mt-30">
                    <div class="service-info hover-secondery-primary">
                        <span class="flat-large icon-primary"><i class="flaticon-deal"></i></span>
                        <a class="my-20 d-table" href="service-details.html">
                            <h4>Selling Properties</h4>
                        </a>
                        <p>Metus rhoncus hendrer tellus lacinia aptent justo urna. Leo conseq dapibus ipsum eleif
                            massa enim potenti at magnis orci molesti praesent ultrices elementum.</p>
                        <hr class="border-top-1">
                        <a class="btn-round bg-secondary" href="service-details.html"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow animated slideInDown">
                <div class="service-item bg-white px-30 py-40 mt-30">
                    <div class="service-info hover-secondery-primary">
                        <span class="flat-large icon-primary"><i class="flaticon-sale"></i></span>
                        <a class="my-20 d-table" href="service-details.html">
                            <h4>Rental Properties</h4>
                        </a>
                        <p>Metus rhoncus hendrer tellus lacinia aptent justo urna. Leo conseq dapibus ipsum eleif
                            massa enim potenti at magnis orci molesti praesent ultrices elementum.</p>
                        <hr class="border-top-1">
                        <a class="btn-round bg-secondary" href="service-details.html"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow animated slideInUp">
                <div class="service-item bg-white px-30 py-40 mt-30">
                    <div class="service-info hover-secondery-primary">
                        <span class="flat-large icon-primary"><i class="flaticon-money"></i></span>
                        <a class="my-20 d-table" href="service-details.html">
                            <h4>Legal Investment</h4>
                        </a>
                        <p>Metus rhoncus hendrer tellus lacinia aptent justo urna. Leo conseq dapibus ipsum eleif
                            massa enim potenti at magnis orci molesti praesent ultrices elementum.</p>
                        <hr class="border-top-1">
                        <a class="btn-round bg-secondary" href="service-details.html"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow animated slideInDown">
                <div class="service-item bg-white px-30 py-40 mt-30">
                    <div class="service-info hover-secondery-primary">
                        <span class="flat-large icon-primary"><i class="flaticon-checklists"></i></span>
                        <a class="my-20 d-table" href="service-details.html">
                            <h4>Property Listing</h4>
                        </a>
                        <p>Metus rhoncus hendrer tellus lacinia aptent justo urna. Leo conseq dapibus ipsum eleif
                            massa enim potenti at magnis orci molesti praesent ultrices elementum.</p>
                        <hr class="border-top-1">
                        <a class="btn-round bg-secondary" href="service-details.html"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow animated slideInUp">
                <div class="service-item bg-white px-30 py-40 mt-30">
                    <div class="service-info hover-secondery-primary">
                        <span class="flat-large icon-primary"><i class="flaticon-research"></i></span>
                        <a class="my-20 d-table" href="service-details.html">
                            <h4>Market Analysis</h4>
                        </a>
                        <p>Metus rhoncus hendrer tellus lacinia aptent justo urna. Leo conseq dapibus ipsum eleif
                            massa enim potenti at magnis orci molesti praesent ultrices elementum.</p>
                        <hr class="border-top-1">
                        <a class="btn-round bg-secondary" href="service-details.html"><i
                                class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End
==================================================================-->