{% load static %}
<!-- Slider HTML markup
==================================================================-->
<div id="slider" style="height:800px; margin:0 auto;margin-bottom: 0px;">

    <!-- Slide 1-->
    <div class="ls-slide"
        data-ls="bgsize:cover; bgposition:50% 50%; duration:10000; transition2d:3; timeshift:-500; deeplink:home; kenburnszoom:in; kenburnsrotate:0; kenburnsscale:1.2; parallaxevent:scroll; parallaxdurationmove:500;">
        <img width="1920" height="1080" src="{% static 'images/slider/17.jpg' %}" class="ls-bg" alt="" />
        <div style="width:100%; height:100%; background:rgba(36, 36, 36, 0.5); top:50%; left:50%;" class="ls-l"
            data-ls="easingin:easeOutQuint; durationout:400; parallaxlevel:0; position:fixed;"></div>
        <div style="width:440px; height:440px; background:transparent; border: 20px solid; top:50%; left:50%;"
            class="border-primary ls-l"
            data-ls="delayin:1500; durationout:400; easingin:easeOutExpo; scalexin:0.8; parallaxlevel:0;"></div>
        <p style="font-weight:500;font-family:Montserrat; text-align:center; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); width:700px; font-size:60px; line-height:80px; color:#ffffff; top:285px; left:50%; white-space:normal;"
            class="ls-l higlight-font"
            data-ls="offsetyin:40; delayin:250; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationout:400; parallax:true; parallaxlevel:3;">
            Best Deling Real Estate Company</p>
        <p style="font-weight:400; font-family:Montserrat; text-align:center; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); width:700px; font-size:24px; line-height:50px; color:#ffffff; top:235px; left:50%; white-space:normal;"
            class="ls-l"
            data-ls="offsetyin:40; easingin:easeOutQuint; offsetyout:-200; durationout:400; parallax:true; parallaxlevel:4;">
            Find Your Sweet Home</p>
        <p style="font-weight:400; font-family:'Roboto'; text-align:center; width:720px; font-size:22px; line-height:30px; color:#ffffff; top:465px; left:50%; white-space:normal;"
            class="ls-l"
            data-ls="offsetyin:40; delayin:700; easingin:easeOutQuint; offsetyout:-250; durationout:400; parallax:true; parallaxlevel:2;">
            Suscipit arcu nibh leo fermentum congue, lobortis facilisi Parturient, tincidunt sem mauris, augue
            lobortis vulputate nam lectus pretium senectus amet. Fusce cubilia rutrum consequat.</p>
    </div>

    <!-- Slide 1-->
    <div class="ls-slide"
        data-ls="bgsize:cover; bgposition:50% 50%; duration:10000; transition2d:3; timeshift:-500; deeplink:home; kenburnszoom:in; kenburnsrotate:0; kenburnsscale:1.2; parallaxevent:scroll; parallaxdurationmove:500;">
        <img width="1920" height="1080" src="{% static 'images/slider/18.jpg' %}" class="ls-bg" alt="" />
        <div style="width:100%; height:100%; background:rgba(36, 36, 36, 0.5); top:50%; left:50%;" class="ls-l"
            data-ls="easingin:easeOutQuint; durationout:400; parallaxlevel:0; position:fixed;"></div>
        <div style="width:440px; height:440px; background:transparent; border: 20px solid; top:50%; left:50%;"
            class="border-primary ls-l"
            data-ls="delayin:1500; durationout:400; easingin:easeOutExpo; scalexin:0.8; parallaxlevel:0;"></div>
        <p style="font-weight:500;font-family:Montserrat; text-align:center; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); width:700px; font-size:60px; line-height:80px; color:#ffffff; top:285px; left:50%; white-space:normal;"
            class="ls-l higlight-font"
            data-ls="offsetyin:40; delayin:250; easingin:easeOutQuint; filterin:blur(10px); offsetyout:-200; durationout:400; parallax:true; parallaxlevel:3;">
            Best Deling Real Estate Company</p>
        <p style="font-weight:400; font-family:Montserrat; text-align:center; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); width:700px; font-size:24px; line-height:50px; color:#ffffff; top:235px; left:50%; white-space:normal;"
            class="ls-l"
            data-ls="offsetyin:40; easingin:easeOutQuint; offsetyout:-200; durationout:400; parallax:true; parallaxlevel:4;">
            Find Your Sweet Home</p>
        <p style="font-weight:400; font-family:'Roboto'; text-align:center; width:720px; font-size:22px; line-height:30px; color:#ffffff; top:465px; left:50%; white-space:normal;"
            class="ls-l"
            data-ls="offsetyin:40; delayin:700; easingin:easeOutQuint; offsetyout:-250; durationout:400; parallax:true; parallaxlevel:2;">
            Suscipit arcu nibh leo fermentum congue, lobortis facilisi Parturient, tincidunt sem mauris, augue
            lobortis vulputate nam lectus pretium senectus amet. Fusce cubilia rutrum consequat.</p>
    </div>
</div>
<!--Slider Section End
==================================================================-->